@model Regitration.ViewModels.Step2ViewModel

@{
    Model.Initialize();
}
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-6">
            @Html.EditorFor(x => x.BusinessAreas)
        </div>
        <div class="col-xs-1 text-right">
            @Html.ValidationMessageFor(x => x.BusinessAreas)
        </div>
    </div>
</div>
