@{
    ViewBag.Title = "Registration completed";
}

<div class="row fill">
    <div class="col-md-12 text-center fill">
        @Html.ActionLink("Registration completed", "Index", "Home", null, htmlAttributes: new { @class = "welcome-text welcome-text-end" })
    </div>
</div>

@Styles.Render("https://fonts.googleapis.com/css?family=Indie+Flower")